*{
    font-family: "JetBrainsMono Nerd Font", "Fira Code", monospace;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0,0,0,1);
    /* background: transparent; */
}

.modules-right, .modules-left, .modules-center {
    margin: 5px 10px 5px 10px;
}

#custom-menu,
#window,
#workspaces,
#memory,
#network,
#backlight,
#pulseaudio,
#temperature,
#battery,
#clock{
    /*border-radius :5px;*/
    padding : 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    color: #fefefe;
}

#workspaces{
    padding: 0px 5px 0px 5px;
}

/* #custom-menu{ */
/*     padding : 0px 10px 0px 13px; */
/*    margin: 0px 5px 0px 10px; */
/*    color: #fefefe; */
/* } */

#temperature .critical{
    color: #ff1160;
}

#custom-menu,
#custom-power{
    padding:0px 16px 0px 12px;
    border-radius: 5px;
    color: #fefefe;
    background: #1e1e1e;
}

#tray{
    padding: 0px 10px 0px 10px;
}
