configuration{
    modi: "drun";
    icon-theme: "Papirus-Icon-Theme";
    font-family: "Fira Code";
    font-family: "Roboto";
    font-family: "Font Awesome";
    show-icons: true;
    terminal: "kitty";
    // drun-display-format: "{icon} {name}";
    drun-display-format: " {name}";
    sort:true;
    sorting-method: "normal";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
