input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        tap
        drag true
        natural-scroll
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1080@144.00"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@144.00"
    scale 1
    transform "normal"
    position x=1920 y=0
}
